.mainpage {
  margin-top: 100px;
  height: 80vh;
}

.mainpage button {
  background-color: #47a5c2;
  color: #fff;
}

.mainpage button:hover {
  background-color: #051d24;
  color: #fff;
}

// #all-words.hide_btn,
// #done.hide_btn {
//   // display: none;
//   opacity: 0;
//   visibility: none;
// }

// .hide_btns {
//   // display: none;
//   opacity: 0;
//   visibility: none;
// }

// .show_btns {
//   opacity: 1;
//   visibility: visible;
// }

#done {
  // background-color: #103a10;
  margin-bottom: 2rem;
}

.buttons {
  margin-bottom: 2rem;
}

// .word-pad {
//   /* background-color: red; */
//   display: none;
// }
#wordpad {
  display: none;
}

.noteheader {
  // border: 0.1rem solid #051d24;
  border-radius: 1rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  background-color: #b8fdff;
  position: relative;
}

.deleteBtn {
  // content: "\00d7";
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  color: #fff;
  font-size: 1.5rem;
  padding: 1px 4px;
  background-color: #041a20;
  width: 2rem;
  // transition: right 0.3s 0.2s ease-in, opacity 0.3s 0.3s linear;
}

.noteheader:hover {
  cursor: pointer;
}

.text,
.note_text {
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note_text {
  font-size: 1.4rem;
  font-weight: 400;
  display: none;
}

.timetext {
  overflow: hidden;
}

// .deleteBtn {
//   height: 25px;
//   width: 30px;
//   background-color: red;
// }

.examples {
  width: 100%;
  max-width: 100%;
  outline: none;
  border: 4px solid #0e617c;
  font-size: 1.6rem;
  border-left-width: 2rem;
  padding: 0.8rem;
  background-color: #f3e9e9;
}

.profile {
  height: 90vh;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 5rem;
  color: #fff;
}

.profile h2 {
  /* text-align: center; */
}

.profile div {
  /* width: 85%; */
  /* margin: 0 auto; */
}

.profile table {
  width: 100%;
}

.profile table tr {
  border: 1px solid #30c8f7;
  cursor: pointer;
}

.profile table td:first-of-type {
  border-right: 1px solid #47a5c2;
}

.profile table tr td {
  border: none;
}

.profile table tr:hover {
  background: #47a5c2;
}

.modal .form-control {
  margin-bottom: 1.2rem;
}
